//Variables Globales
$header-height: 100px;

// Schema Plants
.schema-plant {
    background-color: black;
    border-radius: 10px;
    position: relative;
    &__container {
        max-height: 100vh;
        max-width: 100vh;
        margin: auto;
    }
    &__image-bg {
        width: 100%;
    }

    &__container-buttons {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    //TODO: mover codigo para que sea dinamico
    &__item-button {
        position: absolute;
        transform: translate(-50%, -50%);
        a {
            $black: #000;
            background:transparentize($color: $black, $amount: 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            color: white;
            border-radius: 50%;
            white-space: nowrap;
            text-shadow: 0.1em 0.1em 0.2em $black;

            transition: transform .23s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
        &:nth-child(1){
            top: 32%;
            left: 25%;
        }
        &:nth-child(2){
            top: 7%;
            left: 77%;
        }
        &:nth-child(3){
            top: 17%;
            left: 77%;
        }
        &:nth-child(4){
            top: 23%;
            left: 47%;
        }
        &:nth-child(5){
            top: 37%;
            left: 10%;
        }
        &:nth-child(6){
            top: 61%;
            left: 78%;
        }
        &:nth-child(7){
            top: 52%;
            left: 77%;
        }
    }
}